# This is an example properties-file for building Railways using ant
# build-script. Just copy this file into build.properties and set properties
# below to match your environment.


# Path to JDK (currently JDK 8 is used to build the plugin)
jdk.home=/path/to/jdk

# Path to IntelliJ IDEA directory in which the plugin is being developed
# (required for compiling the project)
idea.home=/path/to/development/ide

# Path to IntelliJ Plugin SDK (i.e. RubyMine) which is used as project classpath
plugin.sdk.home=/path/to/rubymine/or/other/sdk
